/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    // illumina iGenomes reference file paths
    genomes {
        'GRCh38' {
            gex = "${params.igenomes_base}/Genomes/Homo_sapiens/Gencode46/GRCh38"
            vdj = "${params.igenomes_base}/Genomes/Homo_sapiens/Gencode46/VDJ"
        }
        'GRCm39' {
            gex = "${params.igenomes_base}/Genomes/Mus_musculus/GencodeM34/GRCm39"
            vdj = "${params.igenomes_base}/Genomes/Mus_musculus/GencodeM34/VDJ"
        }
        // Add your custom genome here
        //'Custom' {
        //    cellranger       = "${params.igenomes_base}/Genomes/Homo_sapiens/ANNOTATION/GENOME_VERSION"
        //}
    }
}
