process {

    withName: "HELPER_SEURAT_SUBSET" {
        ext.when = { !params.input_cell_mask.contains('NO_FILE')}
    }

    withName: "SEURAT_QUALITY" {
        ext.args = {
            [
                params.project_name ? "project_name:${params.project_name}" : '',
                "work_directory:\$PWD"
            ].join(' -P ').trim()
        }
        publishDir = [
            [
                path: { "${params.outdir}/data/${task.process}" },
                pattern: '{data/*,figures/*}',
                mode: 'copy',
                overwrite: true
            ],
            [
                path: { "${params.outdir}/" },
                pattern: 'report/*.html',
                mode: 'copy',
                overwrite: true
            ],
        ]
    }

}
