process {

    withName: 'SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*.csv'
        ]
    }

    withName: "CELLRANGER_.*" {
        publishDir = [
            path: { "${params.outdir}/data/${task.process}" },
            mode: 'copy',
            overwrite: true
        ]
        stageInMode = "symlink"
        
    }
    
}
